<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <base href="{{ app.request.basePath }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ app.request.basePath ~ asset('build/app.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ app.request.basePath ~ asset('build/app.js') }}"></script>
    </body>
</html>
